<video class="video-shortcode" preload="{{ .Get "preload" }}" controls autoplay>
    <source src="{{ .Get "src" }}" type="{{ .Get "type" }}">
    There should have been a video here but your browser does not seem
    to support it.
</video>
<style type="text/css">
  .video-shortcode {
    max-width: 80%;
    height: auto;
  }
</style>
